
html, body {
  height: 100%;
}

body {
  background: #A572C2;
  background: #f1f4f6;
}

.main {
  height: 100vh;
}

.logo {
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
}

.logo img {
  width: 300px;
}

.title {
  margin-top: 20px;
  color: #666;
}

.login-form {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}


.ant-card-body {
  padding: 0;
}


.project-description {
  text-align: center;
padding: 20px;
border-bottom: 1px solid #eee;
}

.chat-network {
  padding-top: 10px;
  text-align: center;
}

.gist .gist-file {
  margin: 0;
  padding: 20px;
  border: none;
}

.gist .gist-data {
  border: none;
}

.footer {
  text-align: center;
  padding-bottom: 20px;
}

.footer button:first-child {
  margin-right: 10px;
}

.footer button:last-child {
  margin-left: 10px;
}

/*Overriding some ant stuff*/

.ant-tag {
 display: inline-block;
 line-height: 28px;
 height: 30px;
 padding: 0 10px;
 border-radius: 2px;
}

.ant-btn-primary {
  color: #fff;
  background-color: #8451a1;
  border-color: #8451a1;
}

.ant-btn-primary:hover,
.ant-btn-primary:focus {
  color: #fff;
  background-color: #a969ce;
  border-color: #a969ce;
}

.ant-btn-ghost:hover,
.ant-btn-ghost:focus {
  color: #a969ce;
  background-color: transparent;
  border-color: #a969ce;
}

.ant-btn-lg {
    padding: 4px 15px 5px 15px;
    font-size: 14px;
    border-radius: 2px;
}

/* Overriding animate.css stuff*/

.fadeInUp {
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
}

.fadeOutUp {
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
}
